@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat();
    gap: 10px;
}
.food{
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
}
.food img{
    width: 100%;
}
button:hover{
    background-color: rgba(71, 67, 67, 0.863);
    border: 2px solid #000;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Small devices like Mobile */

@media screen and (max-width:576px) {
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .food{
        background-color: lightsalmon;
    }
    button:hover{
        background-color: rgba(252, 252, 252, 0.863);
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

/* Medium Device like tablet */

@media screen and (min-width:577px) and (max-width:992px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
    .food{
        background-color: burlywood;
    }
    button:hover{
        background-color: rgba(255, 255, 255, 0.863);
        border: 2px solid #000;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
