.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat();
    gap: 10px;
}
.food{
    border: 2px solid tomato;
    padding: 10px;
    border-radius: 10px;
}
.food img{
    width: 100%;
}